    <h2>Просыпайтесь! Начинается мозговой штурм...</h2>
    <div class="third">
        <div id="event">
            <!--<a id="ca" href="ca.html"><img src="~/img/map-ca.png" alt="Москва, Россия" />Moscow, Russia</a>-->
            <a id="ca" href=@Url.Action("MethodCa","Example")> <img src="~/img/map-ca.png" alt="Москва, Россия" />Moscow, Russia</a>
            <a id="tx" href=@Url.Action("MethodTx","Example")><img src="~/img/map-tx.png" alt="Пекин, Китай" />Пекин, Китай</a>
            <a id="ny" href=@Url.Action("MethodNy","Example")><img src="~/img/map-ny.png" alt="Анкара, Турция" />Анкара, Турция</a>
        </div>
    </div>
    <div class="third">
        <div id="sessions">
            <p>Выберите город</p>
        </div>
    </div>
    <div class="third">
        <div id="details">
            <!--context-->
        </div>
    </div>


