@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjaxPostJS</title>
</head>
<body>
    @Html.ValidationSummary()
    <div> 
        <p>Dear @ViewBag.Name ! Wellcome in programmers world!</p>
    </div>
</body>
</html>
