<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>JavaScript и jQuery - Глава 8</title>
    <link rel="stylesheet" href="~/Scripts/c08.css" />
  </head>
  <body>

    <header>
      <h1>МОЗГОВОЙ ШТУРМ</h1>
    </header>

    <section id="content">
      <div class="half">
        <img src="~/img/register-circuitboard.jpg" alt="печатная плата" />
      </div>
      <div class="half" id="exchangerates">
          <!--json .done-->
      </div>
      <aside>
          <!--json .fail-->
      </aside>
    </section>

    <script src="~/Scripts/jquery-1.11.0.js"></script>
    <script src="~/Scripts/js-getJSON.js"></script>
  </body>
</html>