
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavaScript and jQuery - Chapter 8</title>
    <link rel="stylesheet" href="~/Scripts/c08.css" />
</head>
<body>
    <header>
        <h1>Brain attack</h1>
    </header>
    <section id="content">
        <h2>Drop down voice for T-shirt.</h2>
        <p id="selector">Select color which must have the T-shirts of participants brain attack in current year: </p>
    </section>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/jq-get.js"></script>
</body>
</html>
